{% extends "base.html" %}

{% block content %}
<div class="list-group-flush">
    <div class="d-flex bd-highlight list-group-item">
        <div class="p-2 flex-grow-1 bd-highlight">Filename</div>
        <div class="p-2 bd-highlight">Modified at</div>
    </div>
    {%if files %}
        {% for file in files %}
        <div class="d-flex bd-highlight list-group-item">
            <div class="p-2 flex-grow-1 bd-highlight">
                <a href="/file_{{ file['url'] }}">{{ file['name'] }}</a>
            </div>
            <div class="p-2 bd-highlight">
                {{ file['modified_at'] }}
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}