{% extends "base.html" %}

{% block content %}
    <div class="header-container">
        <header class='generic-header'>
            <h1>{{ conn['ip'] }}</h1>
            <em>Execute scripts on remote worker machine.</em>
        </header>
    </div>

    <div class="payload">
        
        <form action="/payload_{{conn['url']}}" method="POST" class='payload-form'>

            <div class="payload-row">
                <label for="payload">Payload</label>
                <textarea id="payload" name="payload"></textarea>
            </div>

            <div class="payload-row">
                <div class='instructions'>
                    <div class='examples'>Examples:</div>
                    <div class='examples'>for i in 1 2 3; do echo $i; done</div>
                    <div class='examples'>echo 'for i in range(3):\n\tprint(i)' | python3</div>
                    <div class='examples'>echo 'for i in 1 2 3\ndo\necho $i\ndone' | bash</div>
                </div>
            </div>
            <div class="payload-row">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>

        </form>
    </div>

    {% if response %}
    <div class="header-container">
        <div class="command-result">
            <h6><pre>{{ response }}</pre></h6>
        </div>
    </div>
    {% endif %}

    <div class="commands-history">
    {% if history %}
        <ol class="history">
        {% for cmd in history %}
            <div class="history-row">
                <li><pre>{{ cmd }}</pre></li>
            </div>
        {% endfor %}
        </ol>
    {% endif %}
    </div>
{% endblock %}
