{% extends "base.html" %}

{% block content %}
    <form action="/payload_{{conn['url']}}" method="POST">
        <label for="payload">Payload:</label>
        <textarea id="payload" name="payload" rows="10" cols="80"></textarea>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    {% if response %}
        <h1>{{response}}</h1>
    {% endif %}

    {% if history %}
        <ol>
        {% for cmd in history %}
            <li>{{ cmd }}</li>
        {% endfor %}
        </ol>
    {% endif %}
{% endblock %}
